
html, body, :global(#root) {
  height: 100%;
  width: 100%;
  display: flex;
  flex:1;
}

.c1{
  color: #232931;
}
.c2{
  color: #393E46;
}
.c3{
  color: #4ECCA3;
}
.c4{
  color: #EEEEEE;
}

.k1{
  border-color: #232931;
}
.k2{
  border-color: #393E46;
}
.k3{
  border-color: #4ECCA3;
}
.k4{
  border-color: #EEEEEE;
}


.b1{
  background: #232931;
}
.b2{
  background: #393E46;
}
.b3{
  background: #4ECCA3;
}
.b4{
  background: #EEEEEE;
}
