
html, body, :global(#root) {
  height: 100%;
  width: 100%;
}

.c1{
  color: #232931;
}
.c2{
  color: #393E46;
}
.c3{
  color: #4ECCA3;
}
.c4{
  color: #EEEEEE;
}

.b1{
  color: #232931;
}
.b2{
  color: #393E46;
}
.b3{
  color: #4ECCA3;
}
.b4{
  color: #EEEEEE;
}
